.git
.gitignore
.dockerignore
Dockerfile
docker-compose*.yml
.env
.env.*
*.log
*.pdb
Project.exe
appsettings.Development.json
web.config
runtimes/win*/
.vs/
bin/
obj/
publish-test/
wwwroot/uploads/
**/.DS_Store
**/Thumbs.db
